.container {
  display: flex;
  justify-content: center;
}

.gif {
  position: absolute;
  height: 155px;
  left: 75px;
  top: 25px;
  transform: rotate(-15deg) scale(1);
}

.gif img,
.emojies img {
  height: 100%;
  border-radius: 25px;
}

.emojies {
  position: absolute;
  height: 120px;
  right: 50px;
  bottom: 50px;
  transform: rotate(15deg) scale(1);
}
