:root {
  --page-margin: 4.5px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-color: rgb(0 0 0 / 20%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 2px 4px 4px 2px;
  border: 1px solid #c2b5a3;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
}

.page:global(.--left) .container {
  border-right: 0.1px solid var(--shadow-color);
}

.page:global(.--right) .container {
  border-left: 0.1px solid var(--shadow-color);
}

.content {
  height: 100%;
  background: #FFFFFF;
}

.page:global(.--left) .content {
  margin: var(--page-margin) 0 var(--page-margin) var(--page-margin);
  box-shadow: inset -10px 0px var(--shadow-blur) var(--shadow-spread) var(--shadow-color),
    10px 15px var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
}

.page:global(.--right) .content {
  margin: var(--page-margin) var(--page-margin) var(--page-margin) 0;
  box-shadow: inset 10px 0px var(--shadow-blur) var(--shadow-spread)
      var(--shadow-color),
    0px 15px var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
}

.children {
  height: 100%;
}
