.page {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 2px 4px 4px 2px;
    border: 1px solid #c2b5a3;
    background: #e8e8ea;
    background: linear-gradient(to bottom, #e8e8ea 0%, #efefef 100%);
    /* overflow: hidden; */
}

.page:global(.--left) .content {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgb(0 0 0 / 40%);
}

.page:global(.--right) .content {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgb(0 0 0 / 40%);
}

.children {
    height: 100%;
}