.container {
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
    font-family: acumin-pro, sans-serif;
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    font-weight: 400;
    color: #2b2b2b;
}

.cover {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 3px rgb(255 255 255 / 10%);
}

.author {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 475px;
    left: 50px;
    opacity: 0.8;
}