.container {
}

.cover {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 3px rgb(255 255 255 / 10%);
}

.author {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 475px;
  left: 50px;
  opacity: 0.8;
}
