:root {
  /* --bg-color: #c4bec6; */
  --bg-color: #FFFFFF;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.book.animated {
  opacity: 0;
  transform: translateY(5rem);
  animation: fadeInUp 1.5s linear 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover .icon {
  color: #636363;
}

.icon {
  font-size: 50px;
  color: gray;
}

#prev-btn.open {
  transform: translateX(-180px);
}

#next-btn.open {
  transform: translateX(180px);
}

/* ---Controller Buttons--- */