.table {
  /* border: 1px solid black; */
  font-size: 14px;
}

.table thead {
  background-color: #cccccc;
}

.table tr > * {
  padding-block-end: 3px;
}

.table tr > *:first-child {
  text-align: right;
  font-weight: 700;
}

.table tbody {
  padding-inline-start: 7px;
  font-size: 13px;
}

.table th,
.table td {
  /* border: 0.1px solid #000000; */
}

.table ul {
  margin: 0;
  padding-inline-start: 10px;
  text-indent: 0;
  list-style-type: "\01F3C6";
}

.table li {
  padding-inline-start: 3px;
}
