.container {
    display: flex;
    justify-content: center;
}

.gif {
    position: absolute;
    height: 155px;
    left: 75px;
    top: 25px;
    opacity: 0;
    transform: rotate(15deg) scale(0.25);
    animation: fadeInGif 3s ease-in-out 1s forwards;
}

.gif img,
.emojies img {
    height: 100%;
    border-radius: 25px;
}

.emojies {
    position: absolute;
    height: 120px;
    right: 50px;
    bottom: 50px;
    opacity: 0;
    transform: rotate(-15deg) scale(0.25);
    animation: fadeInEmojies 3s ease-in-out 1s forwards;
}

@keyframes fadeInGif {
    to {
        opacity: 1;
        transform: rotate(-15deg) scale(1);
    }
}

@keyframes fadeInEmojies {
    to {
        opacity: 1;
        transform: rotate(15deg) scale(1);
    }
}