.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container h4 {
  margin: 0 0 1em 0;
}

.indicators {
  display: flex;
  justify-content: center;
}

@keyframes slide {
  to {
    background-position: left bottom;
  }
}
