.demoPage {
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border: 1px solid blue;
}

#demo1 {
    position: relative;
    display: block;
    border: none;
    /* width: 400px;
    height: 550px; */
    /* margin: 5% auto; */
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
    /* font-family: acumin-pro, sans-serif;
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s; */
}

/* .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: gray;
} */