.container {
    height: 100%;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgba(255, 0, 0, 0.4);
}

.blankPage:global(.--left) .container::before {
    left: 45px;
}

.blankPage:global(.--right) .container::before {
    right: 45px;
}

.paper {
    height: calc(100% - 40px);
    padding-top: 40px;
    background: white;
}

.lines {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, #4683b480 25px);
}

.shadow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.blankPage:global(.--left) .shadow {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgb(0 0 0 / 40%);
}

.blankPage:global(.--right) .shadow {
    border-left: 0;
    box-shadow: inset 7px -7px 30px -7px rgb(0 0 0 / 40%);
}